<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %><%# "_side_bar.html.erb"を読み込み %>
  </div>
  <div class="chat">
    <%= render "main_chat" %><%# "_main_chat.html.erb"を読み込み %>
  </div>
</div>